<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>This is a site where you can book hotel rooms from our wide range from all over the globe!</p>
  </body>
</html>