<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <h2>Here are our bookings:</h2>
    <ul>
      <% availablebookings.forEach(function(bookings) { %>
        <li>User <%=bookings.userN %> has reserved hotel room <%= bookings.name%> </li>
      <% }) %>
    </ul>

    </body>
</html>
