<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for hotels</a></p>
    <p><a href="addbook">Add a new hotels</a></p>
    <p><a href="list">List hotels</a></p>
    <p><a href="bargainbooks">Bargain hotels</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="listusers">List users</a></p>
    <p><a href="login">Login</a></p>

  </body>
</html>
